<div class="w3-bar w3-black">
  <a routerLink="" class="w3-bar-item w3-button w3-hover-none"><img class="w3-image w3-round icon" src="favicon.ico" /></a>
  <a routerLink="" class="w3-bar-item w3-button w3-round w3-padding-16">Home</a>
  <a routerLink="/academics" class="w3-bar-item w3-button w3-round w3-padding-16">Akademics</a>
  <a routerLink="/admissions" class="w3-bar-item w3-button w3-round w3-padding-16">Admissions</a>
  <a routerLink="/about" class="w3-bar-item w3-button w3-round w3-padding-16">About</a>
</div>
<router-outlet></router-outlet>